@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{    
    min-height: 100vh;
    color: white;
    font-family: Grandstander, cursive;
  
}

/*------------------- Colors */

.black {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
.blue {
    background-image: linear-gradient( to top, #ABDCFF 0%, #0396FF 70%);
    background-repeat: no-repeat;
}
.red {
    background-image: linear-gradient(to top, #ff8a8a 0%, #f5576c 100%);
}
.purple {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

/*------------------- Nav */
nav {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 1vw 0;
    margin: 0 auto;
}
nav img {
    margin-right: 1vw;
}


/*------------------- Scoreboard */
.scoreboard {
    display: grid;
    grid-template-columns: 1fr .5fr .3fr .5fr 1fr ;
    grid-template-areas: "user score1 puntos score2 cpu";
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 2vw auto;
    border: 3px solid white;
    position: relative;
    min-height: 20vw;
    border-radius: 20px;
    background-color: rgba(255,255,255, .1);
}

.shadow {
    -webkit-box-shadow: -10px 10px 13px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -10px 10px 13px 0px rgba(0,0,0,0.19);
    box-shadow: -10px 10px 13px 0px rgba(0,0,0,0.19);
}

.user-label img{width: 90px;}
.pc-label img{width: 90px;}
.user-label {
    grid-area: user;
}
#my_score{grid-area: score1;}
.puntos {grid-area: puntos;}
#computer_score{grid-area: score2;}
.pc-label{grid-area: cpu;}
span{font-size: 5vw;}

/* Game Section (Before selection)*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 0 auto;
    position: relative;
    width: 400px;
  }

  main::before{
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 20%;
    right: 15%;
    height: 70%;
    width:70%;
    z-index: -1;
  }

  .btn-circle{
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 -5px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0 25px;
    height: 150px;
    width: 150px;
  }

  .btn-circle:active{
    transform: scale(0.9);
  }

  .wrapper{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0,0,0,0.15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
  }

  .btn-paper{
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }

  .btn-scissors{
    background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  }

  .btn-rock{
    background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  }
  

  .btn-rules{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 25px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-transform: uppercase;
  }

/* Game Section (After selection) Needs to be change by selec*/ 
.selection{
    display: none;
    grid-template-areas: "user result computer";
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  .user_choice{
    grid-area: user;
  }
  
  .computer_choice{
    grid-area: computer;
  }
  
  .result-text{
    grid-area: result;
  }
  
   /* Needs to be change by selec*/
  .selection h2{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .selection h1{
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0 0 20px;
    text-transform: uppercase;
  }
  
  .selection .btn-circle{
    margin: 50px;
    transform: scale(1.2);
  }

  /* Needs to be change by selec*/
  
  .btn-reset{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    color: hsl(229, 25%, 31%);
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
  }
  
  .btn-reset:hover{
    color: red;
  }

  /* Rules Window */
.rules-container{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  .rules-modal{
    background-color: #f0f0f0;
    border-radius: 5px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 450px;
    width: 400px;
    z-index: 2;
  }
  
  .rules-modal button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top:80px;
    transform: scale(1.5);
  }

  footer{
    text-align: center;
    margin-top: 5%;
  }
  


/* Needs to be change by princ*/
.principal{
    position: relative;
    display: flex;
    align-content: center;
}

.container {
    position: fixed;    
    text-align: center;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    padding-top: 12vw;    
}

.ocultar {
    display: none;
}
.container h1 {
    font-size: 6vw;
}
.container form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
input, select, button{
    padding: 1vw 1vw;
    border: 2px solid white;
    background-color: rgba(255,255,255, .1);
    border-radius: 15px;
    margin-top: 30px;
    color: white;
    font-size: 1.4vw;
}
::-webkit-input-placeholder{
    font-size: 1.4vw;
    color: white;
}

button{
    cursor: pointer;
    background-color: white;
    color: #0396FF;
    font-size: 2vw;
}
option {
 font-size: 1.4vw;
 color: #0396FF;
 background-color: rgba(255,255,255, .1);
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
.animated2 {
      animation-duration: 2.5s;
      animation-fill-mode: both;
      animation-iteration-count: initial;
  }
  
input:focus, input.form-control:focus, button:focus {
      outline:none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
  }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
.pulse {
animation-name: pulse;
animation-duration: 1s;
}

@media screen and (max-width: 700px){
    nav h1 {

        font-size: 1em; 
    }
    .container,.choices{
        width: 90%;
        margin: 10vw auto; 
    }
    .choice div img{
        width: 60px;
        padding: 1vw;
    }
    .user-label img{width: 70px;}
    .pc-label img{width: 70px;}
    .container {
        padding-top: 25vw;  
    }
    .container h1 {
        font-size: 10vw;
    }
    .container form{   
        width: 80%;   
    }
    input, select, button{
        padding: 4vw 1vw;       
    }
    ::-webkit-input-placeholder, button, select, option{
        font-size: 3vw; 
    }
}

/* MOBILE VIEW */
@media screen and (max-width:500px){
    .scoreboard{
      transform: scale(0.75);
    }
 
    /* Needs to be change by selec*/
    .selection{
      display: none;
      grid-template-areas: "user computer"
                           "result result"
    }
  
    .user_choice{
      grid-area: user;
    }
  
    .computer_choice{
      grid-area: computer;
    }
  
    .result-text{
      grid-area: result;
    }
  }
  

